.first,
.second,
.third,
.four{
    display: inline-block;
    height: 100px;
    width: 200px;
}
.first{
    background-color: mediumblue;
}
.second{
    background-color: hotpink;
    position: relative;
    left: 40px;
    top: 20px;
    z-index: 5;
}
.third{
    background-color: indigo;
    position: relative;
    z-index: 2;
}
.four{
    background-color: mediumseagreen;
    position: relative;
}