.first,
.second,
.third{
    display: inline-block;
    height: 100px;
    width: 200px;
}
.first{
    background-color: mediumblue;
}
.second{
    background-color: hotpink;
}
.third{
    background-color: indigo;
}