.header{
	position: fixed;
	top:0;
	left:0;
	width: 100%;
	border: 1px solid lightgrey;
	padding: 10px;
	height: 60px;
	display: flex;
	align-items: center;
}
.burger-opener{
	display:none;
	border: 1px solid black;
}

.main-menu{
	display: flex;
	justify-content: space-around;

	&-item{
		padding: 5px;
		border: 1px dotted green;
	}
}
.main-menu.is-active{
	display: flex;
}
@media screen and (max-width: 768px){
	.burger-opener{
		display:block;
		cursor: pointer;
		padding: 5px;
	}

	.main-menu{
		position: absolute;
		left: 50px;
		top: calc(100% + 7px);
		flex-direction: column;
		display: none;
	}
	.main-menu.main-menu-item{
	 margin: 7px;
	}
}