body {
	font-family: 'Roboto', sans-serif;
}
.conteiner{
	max-width: 90%;
	margin: 0 auto;
}
.clearfix:after{
	clear:both;
	content:"";
	display:table;
}
.header{
	max-width: 100%;
	margin: 0 auto;
}
.header_top{
	padding: 30px 0;
	border-bottom: 1px solid #eee;
}
.logo{
	float: left;
	font-size: 1.4em;
	font-family: 'Roboto Condensed', sans-serif;
}
.contact-basket{
	float: right;
}
.contact-basket p{
	float: left;
	font-size: 0.75em;
	font-weight: 600;
}
.contact-basket p img{
	vertical-align: middle;
	margin-right: 5px;
}
.contact{
	padding-top: 10px;
}
.basket{
	border: 1px solid #eee;
	padding: 10px 25px;
	margin-left: 20px;
}
.basket a{
	text-decoration: none;
	text-transform: uppercase;
	color: #7e7f84;
	margin-left: 15px;
}
.basket a:hover {
	color: violet;
}
.header_bottom{
	padding: 10px 0;
	display: flex;
	flex-direction: row;
}
.menu li{
	display: inline-block;
	text-transform: uppercase;
	margin-right: 30px;
	font-size: 0.9em;
}
.menu li a{
	text-decoration: none;
	color: #7e7f84;
}
.menu li a:hover {
	color: violet;
}
.search-btn{
	float: left;
}
.search-frm{
	float: left;
	font-size: 0.8em;
	color:#7e7f84;
	border: none;
	margin-left: 5px;
}

.back_img img{
	width: 100%;
	margin: 0 auto;
	position: relative;
}
.back_img_text{
	position: absolute;
	top: 80%;
	left: 15%;
}
.back_img_text p{
	color: white;
	font-size: 3em;
}
.news{
	display: flex;
	flex-direction: row;
	width: 100%;
	margin: 0 auto;
}
.article{
	width: 31%;
	margin: 15px;
}
.article img{
	width: 100%;
	display: block;
	margin: 0 auto;
}
.article h2{
	margin-top: 15px;
	margin-bottom: 15px;
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 1.4em;
}
.article a{
	text-decoration: none;
	color: darkviolet;
}
.article a:hover{
	text-decoration: underline;
}
.article p{
	font-size: 0.9em;
	color:#7e7f84;
}
.products{
	display: flex;
	flex-direction: row;
	width: 100%;
}
.popular_products>h2{
	text-align: center;
	font-family: 'Roboto Condensed', sans-serif;
	color: #67686d;
	font-size: 1.4em;
	margin-bottom: 30px;
	margin-top: 30px;
}
.article_products{
	width: 24%;
	margin-left: 15px;
}
.article_products img{
	max-width: 250px;
	max-height: 300px;
}
.prod{
	max-width: 250px;
	margin-top: 20px;
}